@model ProjectMvc.Models.SliderImage

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SliderImage</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.sliderTile)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sliderTile)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sliderimage)
        </dt>

        <dd>
            <img class="img-responsive" style="width:400px; height:400px !important; height:100px;" src="@Model.sliderimage" />
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.sliderId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
